---
---
/*
 * assets/main.scss
 * the dashed lines above are required
 */

 /* $background-color: #0f172a; rgb(15 23 42) */

$background: radial-gradient(ellipse at top, #2e3e60, transparent), radial-gradient(ellipse at bottom, #0f172a, transparent);
$text-color: #e6e6e6; /* an off-white for the text */
$grey-color-light: #565656; /* for the border-top separators */
$grey-color-dark: #adadad; /* such as the site title in the header, visited */


@import "{{ site.theme }}";
